textarea {
    min-height: 100px;
    max-height: 100px;
    min-width: 430px;
    max-width: 430px; 
}


table {
    border-collapse: separate;
    border-spacing: 10px;
    margin-bottom: 20px;
    min-width: 522px;
    max-width: 522px;
  }

  .textArea-buttonDiv {
    display: flex;
    min-width: 600px;
  }

  button {
    color: blue;
    background-color: yellow;
    max-width: 100px;
  }

  table, td {
    border: 1px solid black;
  }

td {
    text-align: center;
}